{{- $state := $.state }}
{{- $spec := $state.spec.effective }}

{{- /* Build vault-specific computed state */}}
{{- $vault := dict
  "name" $spec.name
  "namespace" $spec.namespace
  "labels" $spec.labels
  "managementPolicies" $spec.managementPolicies
  "providerConfigRef" $spec.providerConfigRef
  "values" $spec.values
  "overrideAllValues" $spec.overrideAllValues
}}

{{- /* Store computed state */}}
{{- $_ := set $state "vault" $vault }}
